
.logo-1, .logo-2 {
    width: 200px;
    height: 200px;
    margin: 20px 30px;
}
.logo-1 img, .logo-2 img {
    width: 100%;
}
.logos {
    display: flex;
    justify-content: center;
}
.form-wrapper {
    font-family: levijatan;
    margin-bottom: 100px;
}
.headline {
    margin-top: 80px;
    color: #2b6db6;
}
.form-box {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(255,255,255,0.5);
}
.form-input {
    text-align: left;
    display: flex;
    align-items: center;
}
.form-input label{
    color: #2b6db6;
}
.aktivnost {
    width: unset!important;
    transform: scale(1.5);
    margin: 0 25px;
}
.form-input p {
    margin-right: 10px;
    color: #2b6db6;
}
.form-input input {
    font-size: 18px;
    max-width: 100%;
    width: 70%;
    background: none;
    color: #2b6db6;
    border: none;
    border-bottom: 2px solid #2b6db6;
}
.form-input input:focus {
    outline: none;
}
.btn-submit {
    margin-top: 50px;
}
.btn-submit button {
    border: 2px solid #2b6db6;
    color: #2b6db6;
    font-family: levijatan;
    padding: 20px;
    background: none;
    border-radius: 13px;
    cursor: pointer;
}
.btn-submit button:focus {
    outline: none;
}
.text-wrapper {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 30px;
}
.text-wrapper h2 {
    font-size: 25px;
    font-family: Montseratt, sans-serif;
    text-align: justify;
}
.text-wrapper p {
    font-family: Montseratt, sans-serif;
    font-size: 19px;
}

.text-wrapper span {
    color: #df0000;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 15px;
    }
    .text-wrapper h2 {
        text-align: center;
    }
    .form-input {
        flex-direction: column;
    }
    .form-input input {
        margin: 10px 0;
    }
    .form-input p {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .text-wrapper {
        margin-top: 0;
    }
}