.fWHyCt, .hBxfkO {
  max-width: 1400px;
  margin: 0 auto;
}
.cxtWCz, .jODTtk {
  font-size: 20px;
}
.kwRiGp, .gjbLri {
  background: none !important;
}
.cTEQON, .jeFspv {
  background-color: #2b6db6 !important;
}
.HWHoi, .byEVQD {
  color: #fff !important;
}
.doBktq, .dqcspZ {
  font-size: 15px !important;
}
h2 {
  font-family: levijatan;
  margin-top: 80px;
  margin-bottom: 20px;
}
.fWHyCt, .hBxfkO {
  margin-bottom: 100px;
  overflow-y: auto;
  max-height: 1000px;
}
.go-to-login {
  background: #2b6db6;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
}
