.title {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}
.title:before {
  background-color: red;
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 14px;
  width: 3px;
}

.single-card {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  width: 30%;
  height: 250px;
  position: relative;
}
.program-card-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.single-card .card-text {
  position: absolute;
  display: flex;
  align-items: flex-start;
  height: 100%;
  text-shadow: white 0px 0px 4px;
}

.card-text p {
  text-transform: uppercase;
  font-size: 24px;
  display: block;
  font-family: Montseratt, sans-serif;
  font-weight: bold;
}

.card-text span{
  font-weight: 900;
  color: #df0000;
}

.card-title {
  font-family: Montserrat;
  font-size: 30px;
}

@media only screen and (max-width: 1220px) {
  .single-card {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .single-card {
    width: 70%;
  }

  .card-text p {
    font-size: 17px;
  }

  .single-card {
    margin-top: 0;
    margin-bottom: 0;
  }
}